$BLACK:		rgb(0, 0, 0);
$WHITE:		rgb(255, 255, 255);
$GREY:		rgb(128, 128, 128);
$RED:		rgb(128, 0, 0);
$ORANGE:	rgb(200, 64, 0);
$YELLOW:	rgb(200, 200, 0);
$GREEN:		rgb(0, 128, 0);
$BLUE:		rgb(0, 0, 128);
$PURPLE:	rgb(128, 0, 128);
$BROWN:		rgb(83, 39, 2);